a.menu-369, ul.links li.menu-369 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_369.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-370, ul.links li.menu-370 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_370.png);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-371, ul.links li.menu-371 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_371.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-409, ul.links li.menu-409 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_409.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

