a.menu-369, ul.links li.menu-369 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_369.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-370, ul.links li.menu-370 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_370.png);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-371, ul.links li.menu-371 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_371.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-409, ul.links li.menu-409 a {
  background-image: url(/sites/default/files/styles/style218x137/public/menu_icons/menu_icon_409.jpg);
  padding-left:300px;
  background-repeat: no-repeat;
  background-position: left;
  height: 200px;
}

a.menu-431, ul.links li.menu-431 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_431.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

a.menu-432, ul.links li.menu-432 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_432.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

a.menu-433, ul.links li.menu-433 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_433.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

a.menu-434, ul.links li.menu-434 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_434.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

a.menu-435, ul.links li.menu-435 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_435.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

a.menu-436, ul.links li.menu-436 a {
  background-image: url(/sites/default/files/styles/none-style/public/menu_icons/menu_icon_436.png);
  padding-left:24px;
  background-repeat: no-repeat;
  background-position: left;
  height: 24px;
}

