a.menu-369, ul.links li.menu-369 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_369.jpeg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-370, ul.links li.menu-370 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_370.jpeg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

a.menu-371, ul.links li.menu-371 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_371.jpeg);
  padding-left:45px;
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
}

